.countries-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  width: 80%;
}

.region-name {
  height: 80px;
}

.reserve {
  display: none;
}

.tile {
  position: relative;
  height: 200px;
  width: 100%;
  color: white;
  background-size: cover;
  background-position: center;
  border-radius: 5%;
}

.country-overlay {
  background-color: rgba(0, 0, 0, 0.598);
  z-index: 2;
  border-radius: 5%;
}

.country-overlay:hover {
  background-color: rgba(0, 0, 0, 0.119);
  z-index: 4;
  transition: 0.5s;
  cursor: pointer;
}

.country-name {
  position: absolute;
  z-index: 3;
  text-align: center;
  text-shadow: rgb(26, 26, 26) 2px 2px;
  cursor: pointer;
  width: 90%;
}
