.App {
  position: relative;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
  display: block;
  width: 100%;
}
