.header {
  height: 14vh;
  position: relative;
  background-color: black;
  color: white;
}

.home-btn {
  position: absolute;
  right: 5%;
  cursor: pointer;
  transition: 0.5s;
  padding: 3px;
}

.home-img {
  height: 30px;
  width: 30px;
  background-image: url("../../Images/globe.png");
  background-size: cover;
  background-position: center;
}

.home-btn:hover {
  border: 2px solid white;
  border-radius: 5%;
}

.new-country-container {
  position: absolute;
  left: 5%;
}

.new-country-text {
  color: white;
}
