.footer {
  padding-left: 2%;
  position: fixed;
  bottom: 0;
  height: 6vh;
  background-color: #000000;
  color: white;
  justify-content: flex-start;
}

.author {
  margin-left: 5px;
  width: fit-content;
  display: inline-block;
  color: rgb(0, 255, 123);
}

.author:hover {
  text-decoration: none;
  color: rgb(0, 229, 255);
  transition: 0.5s;
}
